:root {
  --cor-branco: #fff;
  --cor-laranja: orangered;
  --cor-cinzaclaro: #5c5c5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, Arial;
}

body {
  background: linear-gradient(to bottom, #161719 0%, #17181a 100%);
}

header nav {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 15vh;
  background-color: transparent;
  position: absolute;
  -webkit-animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 6vw;
  color: white;
  margin-left: 7vw;
}

header nav ul:hover :not(:hover) {
  opacity: 60%;
  color: var(--cor-branco);
}
#logo{
  width: 5rem;
  margin-left: 5rem;
  margin-top: 2vw;
}
.ancora {
  position: relative;
  display: inline-block;
}

.ancora::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--cor-branco);
  border-radius: 4px;
  scale: 0.1;
  transform-origin: right;
  transition: scale 0.25s;
}

.ancora:hover {
  cursor: pointer;
}

.ancora:hover::before {
  scale: 1;
  transform-origin: left;
}

#particle-canvas {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #161719 0%, #17181a 100%);
  vertical-align: middle;
}

.container {
  height: 200px;
  width: 25.6rem;
  position: absolute;
  z-index: 3;
  top: 23%;
  left: 7%;
}

h1 {
  font-size: 4rem;
  color: var(--cor-laranja);
  -webkit-animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

section .container p {
  margin-top: 20px;
  color: var(--cor-branco);
  line-height: 28px;
  -webkit-animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  background-color: transparent;
}

section .container p::selection {
  background-color: var(--cor-laranja);
}

section .container button {
  outline: none;
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 50px;
  margin-top: 20px;
  background-color: var(--cor-laranja);
  color: var(--cor-branco);
  font-weight: bold;
  -webkit-animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-top 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

section .container button:hover {
  box-shadow: 0px 5px 20px var(--cor-laranja);
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.card-box {
  width: 220px;
  height: 330px;
  padding: .8em;
  background: #f5f5f5;
  overflow: visible;
  border-radius: 15px;
  position: relative;
  top: -7rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  transition: all .3s;
  margin: 10px;
  z-index: -2;
}

.card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 25px;
  height: 25px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: .9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.card_box:hover {
  transform: scale(0.9);
}

.card-box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.card-box span::before {
  content: 'Premium';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.card-box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  display: inline-block;
}

.product-list {
  position: relative;
  z-index: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
  max-width: 1300px;
  width: 100%;
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.btn-comprar {
  cursor: pointer;
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
  transition: 0.8s;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  border: none;
  border-radius: 10px;
  color: var(--cor-cinza);
}

.btn-comprar:hover {
  background-position: right top;
}

.btn-comprar:is(:focus, :focus-within, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo h2 {
  width: 38vw;
  font-weight: bold;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 4vw;
  text-align: center;
  font-weight: bolder;
  -webkit-text-stroke-width: 0.5px;
  animation: digitando 3s steps(25), blink .4s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  display: inline-block;
}
.card-inf-gif{
  position: relative;
  top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}
.circle-shadow{
  background-color: var(--cor-laranja);
  height: 25vw;
  width: 25vw;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 2px 2px 30px var(--cor-laranja);
  opacity: 90%;
  border: double 20px var(--cor-laranja);
}
#smartphone{
  position: absolute;
  justify-content: center;
  width: 20vw;
}
.conteudo{
  position: absolute;
  width: 100%;
  height: 30vw;
  /* background-color: red;
  opacity: 50%; */
}
.conteudos{
  width: 21vw;
  height: 7vw;
  margin-left: 13vw;
  border: 2px solid var(--cor-laranja);;
  border-radius: 15px;
  background-image: linear-gradient( 112.91deg, rgba(255, 255, 255, 0.51) 3.51%, rgba(255, 255, 255, 0.368525) 47.47%, rgba(255, 255, 255, 0) 111.71% );
  opacity: 80%;
  padding: 0.6vw;
  color: #fff;
}
.conteudos2{
  width: 21vw;
  height: 7vw;
  border: 2px solid var(--cor-laranja);;
  border-radius: 15px;
  background-image: linear-gradient( 112.91deg, rgba(255, 255, 255, 0.51) 3.51%, rgba(255, 255, 255, 0.368525) 47.47%, rgba(255, 255, 255, 0) 111.71% );
  margin-right: 8vw;
  opacity: 80%;
  color: #fff;
  padding: 0.6vw;
}
.conteudos3{
  width: 21vw;
  height: 7vw;
  margin-left: 10vw;
  border: 2px solid var(--cor-laranja);;
  border-radius: 15px;
  background-image: linear-gradient( 112.91deg, rgba(255, 255, 255, 0.51) 3.51%, rgba(255, 255, 255, 0.368525) 47.47%, rgba(255, 255, 255, 0) 111.71% );
  opacity: 80%;
  color: #fff;
  padding: 0.6vw;
}
.conteudos4{
  width: 21vw;
  height: 7vw;
  border: 2px solid var(--cor-laranja);;
  border-radius: 15px;
  background-image: linear-gradient( 112.91deg, rgba(255, 255, 255, 0.51) 3.51%, rgba(255, 255, 255, 0.368525) 47.47%, rgba(255, 255, 255, 0) 111.71% );
  margin-right: 8vw;
  opacity: 80%;
  color: #fff;
  padding: 0.6vw;
}
.div-conteudo2{
  display: flex;
  justify-content: right;
  margin-right: 4vw;
}
.div-conteudo4{
  display: flex;
  justify-content: right;
  margin-right: 4vw;
}
.titulo-conteudo{
  color: #4df1b5;
  margin-bottom: 0.9vw;
  font-size: 2vw;
}
.paragrafo-conteudo{
  color: #fff;
  font-size: 1vw;
}
footer {
  height: auto;
  background-color: #212223;
  margin-top: 25vw;
  padding-bottom: 20px;
}

.container-footer {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 2vw;
}

.text-footer {
  font-size: 1.5vw;
  margin-bottom: 1vw;
  color: var(--cor-laranja);
  font-weight: bolder;
}

.new-nomade {
  font-size: 1.7vw;
  margin-bottom: 1vw;
  color: #fff;
  font-weight: bolder;
}

.paragrafo-nomades {
  color: #aeb1b6;
  font-weight: 500;
  font-size: 1vw;
  line-height: 2vw;
  color: #aeb1b6;
}

.navegue-aqui {
  font-size: 1.5vw;
  margin-bottom: 1vw;
  color: var(--cor-laranja);
  font-weight: bolder;
  margin-top: 2vw;
}
footer .container-footer ul{
  list-style: none;
  display: flex;
}
footer .container-footer ul:hover :not(:hover){
  opacity: 10%;
}
footer .container-footer ul li{
  color: var(--cor-branco);
  opacity:70%;
}
footer .container-footer ul{
  gap: 30px;
}
.ancora-link {
  position: relative;
  display: inline-block;
}

.ancora-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--cor-branco);
  border-radius: 4px;
  scale: 0.1;
  transform-origin: right;
  transition: scale 0.25s;
}

.ancora-link:hover {
  cursor: pointer;
}

.ancora-link:hover::before {
  scale: 1;
  transform-origin: left;
}
#verificado-selo-final {
  width: 2vw;
}

@keyframes digitando {
  from {
    width: 0;
  }
}

@keyframes blink {
  40% {
    border-color: #ff6b08;
  }

  60% {
    border-color: #ddd;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn-comprar {
    transition: linear;
  }
}

@media (max-width: 650px) {
  .container {
    padding: 20px;
    height: auto;
    position: absolute;
    width: calc(90vw - 7%);
    z-index: 3;
    left: 7%;
    background: rgba(255, 255, 255, 0.10);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
  }
  #logo{
    margin-left: 00.5rem;
  }
  .card-button{
    cursor: none;
  }
  .card-box {
    width: 15rem;
    height: 22rem;
    top: 1rem;
    cursor: none;
  }

  .btn-comprar {
    height: 3.5rem;
    cursor: none;
  }

  .titulo h2 {
    margin-top: 30px;
    font-size: 2rem;
    width: 19rem;
  }
  .titulo{
    position: relative;
    z-index: 3;
    top: 5rem;
  }

  footer {
    height: auto;
    background-color: #212223;
    margin-top: 25vw;
    padding-bottom: 20px;
  }

  .container-footer {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 2vw;
  }

  .text-footer {
    font-size: 5vw;
    margin-bottom: 4vw;
    color: var(--cor-laranja);
    font-weight: bolder;
    margin-top: 3vw;
  }

  .new-nomade {
    font-size: 5vw;
    margin-bottom: 5vw;
    color: #fff;
    font-weight: bolder;
  }

  .paragrafo-nomades {
    text-align: left;
    color: #aeb1b6;
    font-weight: 600;
    font-size: 3.7vw;
    line-height: 5vw;
    margin-bottom: 4vw;
  }

  .navegue-aqui {
    font-size: 4vw;
    margin-bottom: 7vw;
    color: var(--cor-laranja);
    font-weight: bolder;
    text-align: center;
  }
  .informacoes-final {
    align-items: center;
    justify-content: center;
    text-align: left;
    display: grid;
  }

  #verificado-selo-final {
    width: 6vw;
  }
  .conteudo{
    position: relative;
    height: auto;
  }
  .circle-shadow{
    display: none;
    width: 0;
    height: 0;
}
#smartphone-image{
    display: none;
}
#close-friends{
    text-align: left;
    margin-right: 20px;
    font-size: 7vw;
    margin-bottom: 4vw;
}
#paragrafo-div-coluna{
    text-align: left;
}
.apresentation{
    display: block;
}
#acessparagrafo{
    font-size: 4.5vw;
    width: 80vw;
    text-align: left;
}
#acesso-primary{
    width: 80vw;
    height: 11vw;
}
#smartphone{
    display: none;
}
.conteudo{
    justify-content: center;
    display: grid;
}
.conteudos{
    justify-content: center;
    height: 30vw;
    width: 80vw;
    margin: 20px;
}
.conteudos2{
    justify-content: center;
    height: 30vw;
    width: 80vw;
    margin: 20px;
}
.conteudos3{
    justify-content: center;
    height: 30vw;
    width: 80vw;
    margin: 20px;
}
.conteudos4{
    justify-content: center;
    height: 30vw;
    width: 80vw;
    margin: 20px;
    margin-bottom: 5rem;
}
.titulo-conteudo{
    padding: 2vw;
    font-size: 5vw;
}
.paragrafo-conteudo{
    padding: 2vw;
    font-size: 3.7vw;
}
.card-inf-gif{
  position: relative;
  top: 2rem;
}
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-13 22:2:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@font-face {
  font-family: montserrat;
  src: url(/assets/font/Montserrat-Light.otf) format('opentype');
}

@media (max-width: 991px) {
  .product-list {
    flex-wrap: wrap;
  }
}